<div id="demoSelectorPanel" class="row">
    <div ng-repeat="demotype in demotypeList" ng-class="{'col-md-4': true, 'demo-summary-box': demoTypeUrl!=demotype.templateUrl}">
        <h2 ng-class="{'demo-summary-title': demoTypeUrl!=demotype.templateUrl, 'text-warning': demoTypeUrl==demotype.templateUrl}">{{demotype.title}}</h2>

        <p ng-class="{'text-justify':true, 'demo-summary-description': demoTypeUrl!=demotype.templateUrl, 'text-warning': demoTypeUrl==demotype.templateUrl}">{{demotype.description}}</p>
        <button ng-click="showDemo(demotype.templateUrl)"
                ng-class="{'btn': true, 'btn-primary': demoTypeUrl != demotype.templateUrl, 'active': demoTypeUrl == demotype.templateUrl, 'btn-warning': demoTypeUrl == demotype.templateUrl}">
            View Results <span
                ng-class="{'glyphicon': true, 'glyphicon-chevron-right':demoTypeUrl != demotype.templateUrl, 'glyphicon-chevron-down':demoTypeUrl == demotype.templateUrl }"
                aria-hidden="true"></span>
        </button>
    </div>
</div>
<hr>

<div ng-include="demoTypeUrl"></div>