<div ng-controller="FindSimilarCtrl">
    <div class="row">
        <div class="col-lg-12 well" nv-file-drop
             uploader="uploader">
            <p id="dragdroptitle" class="text-center text-muted">
                Drag and Drop an Image
            </p>

            <div class="row" ng-show="activeImage.anyActive">
                <div class="col-md-5">
                    <a href="" class="thumbnail">
                        <img ng-src="{{activeImage.imageDetails.imageUrl}}" alt="{{activeImage.imageDetails.asin}}">
                    </a>
                </div>
                <div class="col-md-7 text-center">
                    <p class="text-primary lead">Original Words</p>

                    <ul class="original-words-ul">
                        <li ng-class="{'label': true, 'label-default': !isTrueWordInPredictedWordsArray(trueWord),
                                              'label-success': isTrueWordInPredictedWordsArray(trueWord),
                                              'img2txt-original-word': true}"
                            ng-repeat="trueWord in activeImage.imageDetails.words_true_proj">{{trueWord}}</li>
                    </ul>

                    <p class="text-primary lead">Words Predicted</p>
                    <!--<p class="">{{activeImage.imageDetails.words_predicted}}</p>-->
                    <div class="img2txt-pie-chart" pie-chart
                         pie-chart-data="activeImage.imageDetails.words_predicted_with_scores" image-id="activeImage.imageDetails.imageUrl"></div>
                </div>
            </div>

            <div class="text-center">
                <span class="btn btn-sm btn-primary btn-file">Upload Image &nbsp; <span
                        class="glyphicon glyphicon-open"></span><input id="fileu" type="file" class="filestyle"
                                                                       nv-file-select uploader="uploader"/></span>
            </div>
        </div>
    </div>

    <div class="text-center">
        <p class="text-danger lead flash-message" flash-message="flashError">{{errorMessage}}</p>
    </div>

    <div class="row image-row" ng-repeat="imageRowNum in imageRowSequence track by $index" ng-show="activeImage.anyActive">
        <div class="col-sm-3 text-center" ng-repeat="imageNum in [0,1,2,3]" ng-hide="($parent.$index*IMAGES_PER_ROW  + imageNum) >= similarImages.length">
            <img class="text2image-img" ng-src="{{similarImages[$parent.$index*IMAGES_PER_ROW  + imageNum].url}}"/>
            <p ng-show="demoModeActive==false" class="text-muted lead"> {{'Image ID: ' + similarImages[$parent.$index*IMAGES_PER_ROW  + imageNum].imgid}}</p>
        </div>
    </div>
</div>