<div ng-controller="Image2TextCtrl">
    <div class="demo-header-box navbar-inverse">
        <h1 class="text-center demo-template-heading">Image to Text Demo</h1>
    </div>

    <div class="row" keyword-search-box search-box-id="image2txtsearchbox" content-change-callback="searchImages">
    </div>

    <div class="row images-container" infinite-scroll scroll-reached-bottom-callback="loadMoreImages">
        <div class="row image-row" ng-repeat="imgrow in imgRowCountSequence track by $index">
            <div class="col-sm-4 text-center image-item" ng-repeat="imageNum in [0,1,2]" ng-hide="($parent.$index*3 + imageNum) >= images.length">
                <img class="image2textimage" ng-src="{{images[$parent.$index*3 + imageNum].imageUrl}}"/>

                <h3 class="text-center image-title">Words Predicted</h3>

                <p class="text-capitalize text-muted text-justify">
                    {{images[$parent.$index*3 + imageNum].wordsPredictedStr}}
                </p>
            </div>
        </div>
    </div>
</div>