<div ng-controller="RawDataCtrl">
    <div class="row" ng-show="demoModeActive==false">
        <ul id="rawDataIdSearchbox" ng-class="{'col-sm-offset-2': true, 'col-sm-8': true, 'col-xs-12': true, 'panel': true, 'panel-default': true, 'search-box': true,
                'border-brand-success': isValidImageId(search.filterText), 'border-brand-danger': !isValidImageId(search.filterText) && search.filterText.length > 0,
                'border-brand-primary': search.filterText.length == 0}">
            <li ng-repeat="(imageId, imageId) in filterImageIdMap">
                <div class="filtered-keywords text-white">
                    <span class="text-capitalize">{{imageId}}</span>
                    <span class="text-right close-mark" ng-click="$parent.removeImageId(imageId)"
                          title="Remove">&times;</span>
                </div>
            </li>

            <li class="keyword-search-box">
                <div class="input-group search-group">
                    <input ng-model="search.filterText" class="form-control" placeholder="Enter Image ID's"
                           ng-keypress="onKeyPress($event)">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-remove text-danger"
                       ng-show="!isValidImageId(search.filterText) && search.filterText.length > 0"></i>
                    <i class="glyphicon glyphicon-ok text-success" ng-show="isValidImageId(search.filterText)"></i>
                    <i class="glyphicon glyphicon-search text-primary"></i>
                </span>
                </div>
            </li>
        </ul>
    </div>

    <p class="text-danger text-center">{{errorMessage}}</p>

    <div id="rawDataImagesContainer" class="images-container" infinite-scroll scroll-reached-bottom-callback="loadMoreImages">
        <div class="row image-row" ng-repeat="i in rowCountSequence track by $index">
            <div class="col-md-6 text-center image-item" ng-repeat="j in [0,1]"
                 ng-hide="($parent.$index*2 + j) >= filteredImages.length">
                <h3 class="text-center">{{filteredImages[$parent.$index*2 + j].title}}</h3>

                <div class="row">
                    <div class="col-xs-6">
                        <img class="rawdataimage" ng-src="{{filteredImages[$parent.$index*2 + j].imageUrl}}"/>
                    </div>

                    <div class="col-xs-6">
                        <h4 class="text-center">Description</h4>

                        <p class="text-muted text-justify">{{filteredImages[$parent.$index*2 + j].description |
                            NAFilter}}</p>
                        <h4 class="text-center text-info">Features</h4>
                        <ul>
                            <li class="text-left text-muted"
                                ng-repeat="feature in filteredImages[$parent.$index*2 + j].features">{{feature}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>