<div ng-controller="Text2ImageCtrl">
    <div class="demo-header-box">
        <h1 class="text-center text-muted demo-template-heading">Text to Image Demo</h1>
    </div>

    <div class="row" keyword-search-box search-box-id="txt2imagesearchbox" content-change-callback="searchImages">
    </div>

    <div class="row image-row" ng-repeat="imageRowNum in imageRowSequence track by $index">
        <div class="col-sm-3 text-center" ng-repeat="imageNum in [0,1,2,3]" ng-hide="($parent.$index*4 + imageNum) >= filteredImages.length">
            <img class="text2image-img" ng-src="{{filteredImages[$parent.$index*4 + imageNum].url}}"/>
            <p class="text-muted lead"> {{'Score:' + filteredImages[$parent.$index*4 + imageNum].score}}</p>
        </div>
    </div>
</div>