<div ng-controller="Text2ImageCtrl">
    <div class="row" keyword-search-box="Enter query words to search images" search-box-id="txt2imagesearchbox" content-change-callback="searchImages">
    </div>

    <div class="row image-row" ng-repeat="imageRowNum in imageRowSequence track by $index">
        <div class="col-sm-3 text-center" ng-repeat="imageNum in [0,1,2,3]" ng-hide="($parent.$index*IMAGES_PER_ROW  + imageNum) >= filteredImages.length">
            <img class="text2image-img" ng-src="{{filteredImages[$parent.$index*IMAGES_PER_ROW  + imageNum].url}}"/>
            <p ng-show="demoModeActive==false" class="text-muted lead"> {{'Image ID: ' + filteredImages[$parent.$index*IMAGES_PER_ROW  + imageNum].imgid}}</p>
        </div>
    </div>
</div>