.text-white {
  color: white;
}
.full-height {
  height: 100%;
}
.full-width {
  width: 100%;
}
.full-size {
  height: 100%;
  width: 100%;
}
.no-padding-margin {
  margin: 0px;
  padding: 0px;
}
/* Sizes given in percentage are calculated after creating box model */
.border-box {
  box-sizing: border-box;
  /* IE, Opera and Chrome */
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  -ms-box-sizing: border-box;
}
.main-container {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* IE, Opera and Chrome */
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  -ms-box-sizing: border-box;
}
.search-box {
  margin-bottom: 100px;
  border-color: #337ab7;
  padding-right: 0px;
}
.search-box li {
  float: left;
  list-style: none;
}
.search-box li .filtered-keywords {
  float: left;
  background: #337ab7;
  border-color: #2e6da4;
  border-radius: 3px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 5px;
  margin-right: 10px;
}
.search-box li .filtered-keywords .close-mark {
  cursor: pointer;
  margin-left: 5px;
  font-size: 16px;
  opacity: 0.7;
}
.search-box li .filtered-keywords .close-mark:hover {
  opacity: 1.0;
}
.search-box li.keyword-search-box {
  min-width: 200px;
  width: 100%;
}
.search-box li.keyword-search-box .search-group {
  height: 30px;
}
.search-box li.keyword-search-box .search-group span {
  border: none;
  background: none;
  height: inherit;
}
.search-box li.keyword-search-box .search-group input {
  height: inherit;
  padding: 0px;
  border: none;
  box-shadow: none;
}
.search-box li.keyword-search-box .search-group input:focus {
  box-shadow: none;
}
.search-box li.keyword-search-box .keyword-select-dropdown {
  max-height: 200px;
  overflow-y: scroll;
}
.search-box li.keyword-search-box .keyword-select-dropdown .selectable-keyword {
  cursor: pointer;
  color: black;
}
.search-box li.keyword-search-box .keyword-select-dropdown .selectable-keyword:hover,
.search-box li.keyword-search-box .keyword-select-dropdown .selectable-keyword:focus {
  background-color: #337ab7;
  color: white;
}
.search-box li.keyword-search-box .keyword-select-dropdown .keyword-text {
  padding: 3px 0px 3px 8px;
  margin-bottom: 0px;
}
.demo-template-heading {
  margin-bottom: 80px;
  color: white;
}
.image2textimage {
  height: 300px;
  margin-bottom: 20px;
}
.text2image-img {
  height: 300px;
}
.rawdataimage {
  height: 300px;
}
.demo-header-box {
  height: 100px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  padding: 10px;
  margin-bottom: 100px;
}
.image-row {
  margin-bottom: 120px;
}
.image-item {
  padding-left: 50px;
  padding-right: 50px;
}
.image-item .image-title {
  margin-bottom: 0px;
}
