@import "utilities";
@import "searchbox";

@image-height: 300px;

#main-header {
  color: white;
  background-color: @brand-primary;
}

.images-container {
  max-height: 800px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.image2textimage {
  height: @image-height;
  margin-bottom: 20px;
}

.text2image-img {
  height: @image-height;
}

.rawdataimage {
  height: @image-height;
}

.demo-header-box {
  height: 100px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  padding: 10px;
  margin-bottom: 100px;

  .demo-template-heading {
    margin-bottom: 80px;
  }
}

.demo-summary-box {
  .demo-summary-title {
    opacity: 0.8;
  }
  .demo-summary-description {
    opacity: 0.9;
  }
  &:hover {
    .demo-summary-title {
      opacity: 1.0;
    }
    .demo-summary-description {
      opacity: 1.0;
    }
  }
}

.image-row {
  margin-bottom: 120px;
}

.image-item {
  padding-left: 50px;
  padding-right: 50px;

  .image-title {
    margin-bottom: 0px;
  }
}

