.search-box {
  margin-bottom: 3px;
  border-color: #337ab7;
  padding-right: 0px;
}
.search-box li {
  float: left;
  list-style: none;
}
.search-box li .filtered-keywords {
  float: left;
  background: #337ab7;
  border-color: #2e6da4;
  border-radius: 3px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 5px;
  margin-right: 10px;
}
.search-box li .filtered-keywords .close-mark {
  cursor: pointer;
  margin-left: 5px;
  font-size: 16px;
  opacity: 0.7;
}
.search-box li .filtered-keywords .close-mark:hover {
  opacity: 1.0;
}
.search-box li.keyword-search-box {
  min-width: 200px;
  width: 100%;
}
.search-box li.keyword-search-box .search-group {
  height: 30px;
}
.search-box li.keyword-search-box .search-group span {
  border: none;
  background: none;
  height: inherit;
}
.search-box li.keyword-search-box .search-group input {
  height: inherit;
  padding: 0px;
  border: none;
  box-shadow: none;
}
.search-box li.keyword-search-box .search-group input:focus {
  box-shadow: none;
}
.search-box li.keyword-search-box .keyword-select-dropdown {
  max-height: 200px;
  overflow-y: scroll;
}
.search-box li.keyword-search-box .keyword-select-dropdown .selectable-keyword {
  cursor: pointer;
  color: black;
}
.search-box li.keyword-search-box .keyword-select-dropdown .selectable-keyword:hover,
.search-box li.keyword-search-box .keyword-select-dropdown .selectable-keyword:focus {
  background-color: #337ab7;
  color: white;
}
.search-box li.keyword-search-box .keyword-select-dropdown .keyword-text {
  padding: 3px 0px 3px 8px;
  margin-bottom: 0px;
}
